<div class='mb-4' id='topic-<%= topic.id %>'>
  <p>
    <span><%= topic.subject.truncate(64) %></span>
    <span><%= link_to '(view)', topic_path(topic) %></span>
  </p>
  <div class='row'>
    <div class='col-md-7'>
      <% topic.tags.each do |tag| %>
        <div class='tag'><%= link_to tag.name, tag_path(tag) %></div>
      <% end %>
    </div>
  </div>
</div>
