<div class='container'>
  <div class='row'>
    <div class='col-md not-too-wide'>
      <h2><%= t('.public_heading') %></h2>
      <div><%= render partial: 'topics/form' %></div>
    </div>
  </div>
</div>
