<div class='container'>
  <p><%= @topic.subject %></p>
  <hr>
  <p>You may object to the topic shown above.  Your objection will not be shown to the original author.</p>
  <%= render partial: 'form' %>
</div>

