<main role='main'>
  <div class='jumbotron'>
    <div class='container'>
      <h1 class='display-3'><%= t('.welcome_heading') %></h1>
      <p><%= t('.what_we_do') %></p>
    </div>
  </div>

  <div class='container'>
    <!-- Example row of columns -->
    <div class='row'>
      <% @topics.each do |topic| %>
        <div class='col-md-4'>
          <h2><%= topic.subject %></h2>
          <p><a class='btn btn-secondary' href='#' role='button'><%= t('.reply_button')%></a></p>
        </div>
      <% end %>
    </div>
  </div> <!-- /container -->
</main>
