.bulletins, .replies, .topics
  form
    textarea
      height: 100px
      width: 500px

    .tags
      input
        width: 500px

.home
  .topic
    width: 100%

  .topic-navigation
    h4
      a
        color: #2d2d2d

.tag
  background: #e2fbdc
  display: inline-block
  margin-right: 3px
  padding: 0 5px 0 5px

.timestamp
  font-size: 12px

.topics
  .topic-author
    background: #e2fbdc
    padding: 15px
