.bulletins, .objections, .replies, .topics
  margin-top: 30px

  form
    textarea
      height: 250px
      max-width: 100%
      width: 700px

    .attached-image
      img
        max-width: 50%

    .tags
      input
        max-width: 100%
        width: 500px

.home
  .topic
    width: 100%

  .topic-navigation
    .heading
      display: flex
      justify-content: space-between

      border-bottom: 2px solid #ededed
      .tabs
        align-items: center
        color: #2d2d2d
        display: flex
        font-size: 24px

        a
          color: #ccc

        .recent
          border-right: 2px solid #ededed

        .tab
          padding: 4px 12px 4px 8px

          &.active
            a
              color: #2d2d2d

      .title
        color: #2d2d2d
        display: inline-block

.post-link
  border: 1px solid #cccccc
  margin: 25px auto 25px auto
  padding: 20px

  .description
    p
      font-size: 16px

  .image
    img
      width: 100%

.tag
  display: inline-block
  margin-right: 3px

.timestamp
  font-size: 14px

.topics
  .reply
    .attached-image, .the-reply
      display: inline-block

      img
        max-height: 50px
