.rinchan
  padding-top: 70px

  a
    text-decoration: none

  footer
    border-top: 2px solid lightgray
    margin: 20px

    p
      font-size: 14px

  form
    input[type=text], input[type=email], input[type=password], textarea
      padding-left: 10px

    .btn
      font-size: 18px
      width: 125px

    .field
      label
        color: darkgray
        font-size: 18px

  h1, h2, h3, h5, p
    color: #2d2d2d

  h1, h2, h3
    font-weight: bold

  h1
    font-size: 44px

  h2
    font-size: 38px

  h3
    font-size: 24px

  h4
    font-size: 20px

  h5
    font-size: 16px
    font-weight: bold

  label
    &.required:after
      color: red
      content: "\00a0 *"

  p
    font-size: 20px
    margin: 0

  .apple_pagination
    cursor: default
    padding: 1em
    text-align: center
    width: 100%

    a, span
      color: black
      padding: 0.2em 0.3em
      text-decoration: none

      &:hover, &:focus
        text-decoration: underline

    .disabled
      a
        color: #aaaaaa

        &:hover, &:focus
          text-decoration: none

    .current
      -moz-border-radius: 1em
      -webkit-border-radius: 1em
      background-color: darken(#f1f1f1, 20)
      border-radius: 1em
      display: inline-block
      font-style: normal
      font-weight: bold
      height: 1.4em
      line-height: 1.5
      text-shadow: rgba(white, .8) 1px 1px 1px
      width: 1.4em

    .pagination
      margin: auto

  .attached-image
    img
      max-height: 400px
      max-width: 100%
