.registrations, .sessions
  form
    .actions
      .btn
        width: 150px

    .field
      &.email, &.name, &.password
        input
          width: 300px

.users
  .user
    margin-top: 20px

    textarea
      height: 100px
      width: 100%

    .cancel-btn
      display: none

    .posts
      p
        margin-bottom: 0

    .tags
      a
        font-size: 12px

      input
        width: 100%

    .timestamp
      font-size: 12px
